@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #260065;
  --primary-background-color: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9));
}

body {
  font-family: "Lexend Deca", sans-serif;
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary-background-color);
  margin: 0 0;
  padding: 0 0;
}
